<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vishal's Tourist Taxi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Leaflet CSS -->
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
</head>
<body>

<header>
    <h1>🚖 Vishal's Tourist Taxi</h1>
    <nav>
        <a href="/" class="btn">Home</a>
        <a href="/booking" class="btn">Book Now</a>
    </nav>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

<footer>
    © 2025 Vishal Taxi Service
</footer>



<!-- Your static JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>